* {
  font-family: Poppins, sans-serif;
}

body {
  background: #ff000003;
}

.top-row {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-items: center;
}

.corner-info {
  position: absolute;
  display: flex;
  flex-direction: column;

  &--right {
    @extend .corner-info;
    top: 35px;
    right: 30px;
  }
  &--left {
    @extend .corner-info;
    top: 35px;
    left: 30px;
  }
}

.corner-info .item {
  margin: 0 0 20px 0;
}

.button-primary {
  background-color: orange;
  color: white;
  border: 2px solid orange;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.button-secondary {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.item {
  margin: 0 10px;
}

.header {
  color: orange;
  text-align: center;
  padding: 10px 0;
}

.layout {
  text-align: center;
}

.text-show {
  color: black;
}

.text-hide {
  color: transparent;
}
